@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
body{
    margin: 0%;
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{

    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    margin-top: 0%;
    display: flex;
    align-items: center;
    background-color: black;
    height: 65px;
}
nav ul li{
    color: white;
    list-style: none;
    padding: 20px;
    
}
.img1{
    width:52px;
    padding-right: 10px;
    
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url("images/bg.jpg");
    background-position: center;
}

.bottom{
    background-color: grey;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: sticky;
    bottom: 0;
}

.icons{
    margin-top: 14px;
}

#progressBar{
    width: 80vw ;
}
.img2{
    height: 30px;
    width: 30px;
    cursor: pointer;  
}

